{extend name="template/base" /}

{block name="content"}

<div class="container_content">

    <div class="container_content_tit">新建课程组合</div>

    <div class="add">

        <form id="form" action="{:url('Coursegroup/add','',false,true)}" method="post">

            <ul class="add_ul">



                <li class="clear">

                    <h1>课程组合编号（必填项）:	</h1>

                    <div class="add_ul_r clear">

                        <input type="text" class="inp_text" placeholder="课程组合编号" datatype="/^[0-9a-zA-Z_]{1,}$/i" name="course_number"  errormsg="仅允许英文字母、数字、下划线和中横杠" nullmsg="课程组合编号不能为空"/>

                        <span class="Validform_checktip"></span>

                    </div>

                </li>
                <li class="clear">

                    <h1>课程组合标题（必填项）:	</h1>

                    <div class="add_ul_r clear">

                        <input type="text" class="inp_text" placeholder="课程组合标题" datatype="/^[0-9a-zA-Z_]{1,}$/i" name="course_title"  errormsg="仅允许英文字母、数字、下划线和中横杠" nullmsg="课程组合标题不能为空"/>

                        <span class="Validform_checktip"></span>

                    </div>

                </li>
                <li class="clear">

                    <h1>课程组合描述:  </h1>

                    <div class="add_ul_r clear">

                        <textarea placeholder="课程组合描述" datatype="*" name="course_content"  errormsg="" nullmsg="课程组合描述不能为空"></textarea>

                        <span class="Validform_checktip"></span>

                    </div>

                </li>


                <li class="clear">
                    <h1>目录:  </h1>
                    <div class="add_ul_r clear">
                        <input type="text" class="inp_text" placeholder="目录"   name="catalog1"  readonly  onclick="chooseParent()"/>
                        <input type="hidden"  id="pid1"  name="catalog"  value="1"/>
                        <span class="Validform_checktip"></span>
                    </div>
                </li>

                <li class="clear">

                    <h1>目标用户:  </h1>

                    <div class="add_ul_r clear">

                        <textarea placeholder="课程描述" datatype="*" name="target_user"  errormsg="" nullmsg="课程描述"></textarea>

                        <span class="Validform_checktip"></span>

                    </div>

                </li>
                <li class="clear">

                    <h1>是否发送邮件提醒:	</h1>

                    <div class="add_ul_r">
                        <!--<input type="checkbox" name="email" style="margin: 15px 0 0 0;" >-->
                        <select name="email" id="">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>

                </li>
                <li class="clear">

                    <h1>是否发送微信提醒:	</h1>

                    <div class="add_ul_r">
                        <!--<input type="checkbox" name="weixin" style="margin: 15px 0 0 0;" >-->
                        <select name="weixin" id="">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>

                </li>
                <li class="clear">

                    <h1>是否允许学员自助报名:	</h1>

                    <div class="add_ul_r">

                        <!--<input type="checkbox" name="self_help" style="margin: 15px 0 0 0;" >-->
                        <select name="self_help" id="">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>

                </li>
                <li class="clear">

                    <h1>是否需要审核:	</h1>

                    <div class="add_ul_r">

                        <!--<input type="checkbox" name="to_examine" style="margin: 15px 0 0 0;" >-->
                        <select name="to_examine" id="">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>

                </li>

                <li class="clear display">

                    <h1>是否自动分配:	</h1>

                    <div class="add_ul_r">
                        <!--<input type="checkbox" name="auto_distribution" style="margin: 15px 0 0 0;" >-->
                        <select name="auto_distribution" id="">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>

                </li>
                <li class="clear display">

                    <h1>分配条件:	</h1>

                    <div class="add_ul_r">
                        <textarea placeholder="分配条件"  name="distribution_condition" ></textarea>

                        <span class="Validform_checktip"></span>

                    </div>

                </li>


                <li class="clear">

                    <h1></h1>

                    <div class="add_ul_r clear">

                        <input type="submit" id="btn" style="opacity:0;">

                        <label for="btn"> <div class="add_btn kuang_lan">确定</div></label>

                        <a  href="{:url('Coursegroup/index','',false,true)}" class="add_btn kuang_hong">取消</a>

                    </div>

                </li>

            </ul>

        </form>

    </div>

</div>



{/block}



{block name="script"}

<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>

<script src="__STATIC__/layer/2.4/layer.js"></script>

<script src="__STATIC__/js/jquery.form.js"></script>

<script src="__STATIC__/js/AjaxAction.js"></script>

<script>

    $("#form").Validform({

        tiptype: 3,

        showAllError: true,

        callback: function (ret) {
            submit_form($("#form"),function(data){
                console.log(data);
                if(data.state == 1){
                    layer.msg(data.succ,{icon:6,time:5000});
                    location.href = "{:url('Coursegroup/index','',false,true)}"
                }else{
                    layer.msg(data.err,{icon:5,time:5000});
                }
            },function(err){
                console.log(err)
            });
            return false;
        }
    });

    $('select[name=course_type]').change(function(){
        var v = $(this).val();
        if(v==1){
            $('.display').css('display','none')
        }else{
            $('.display').css('display','block')
        }


    })

    function chooseParentDepart(){
        layer_open('选择上级部门',"{:url('course/chooseParentDepart','',false,true)}");
    }
    function setChoose(pid,user_object){
        $('input[name=user_object]').val(user_object);
        $('#pid').val(pid);
    }

    function chooseParent(){
        layer_open('选择上级部门',"{:url('course/chooseParent','',false,true)}");
    }
    function setChooseqw(pid,user_object){
        $('input[name=catalog1]').val(user_object);
        $('#pid1').val(pid);
    }
</script>

{/block}