{extend name="template/base1" /}
{block name="content"}
{include file="template/course_group"}
<div class="container_content" style="width: 1200px;margin: 0 auto;float: none;">
	<div class="container_content_tit">{$data.course_title}</div>
	<div class="container_content_screen clear" style="height: 150px">
		<div class="container_content_screen_l">

			<div class="zc_time clear">注册时间：
				<input type="text" class="inp_time"/>~
				<input type="text" class="inp_time"/>
			</div>
			<select class="select_1"  name="ziwu">
				<option value="">选择职务</option>
				{foreach $fl as $k=>$v}
				{if $data['type']==1&&$data['']}
				<option value="1">选择职务1</option>
				<option value="2">选择职务2</option>
				<option value="3">选择职务3</option>
			</select>
			<select class="select_1 select_130"  name="yunyi">
				<option value="">选择运营部</option>
				<option value="1">选择运营部1</option>
				<option value="2">选择运营部2</option>
				<option value="3">选择运营部3</option>
			</select>
			<select class="select_1 select_130"  name="yd">
				<option value="">选择梯队人员</option>
				<option value="1">选择梯队人员1</option>
				<option value="2">选择梯队人员2</option>
				<option value="3">选择梯队人员3</option>
			</select>
			<select class="select_1" name="bm">
				<option value="">选择部门</option>
				<option value="1">选择部门</option>
				<option value="2">选择部门</option>
				<option value="3">选择部门</option>
			</select>
			<select class="select_1 select_130"  name="dy">
				<option value="">选择是否是党员</option>
				<option value="1">是</option>
				<option value="2">否</option>
			</select>
			<div class="search clear">
				<input type="text" placeholder="用户名／姓名／角色"/>
				<button>搜索</button>
				<!--<div class="s_ewm s_btn" style="float:right">分配学员</div>-->
			</div>
			<div class="s_box clear">
				<!--<div class="s_daochu s_btn">导出模板</div>-->
				<!--<div class="s_daoru s_btn">选择文件<input type="file" /></div>-->
				<!--<input class="select_130" type="text" placeholder=""/>-->
				<!--<select class="select_1">-->
					<!--<option value="组分配">组分配</option>-->
					<!--<option value="1">组分配1</option>-->
					<!--<option value="2">组分配2</option>-->
				<!--</select>-->
				<!--<div class="qd s_btn">确定</div>-->
				<!--<div class="s_ewm s_btn">报名二维码</div>-->
				<div class="s_ewm s_btn" style="float:right" onclick="chooseStudy()">分配学员</div>
			</div>
		</div>


	</div>


	<div class="table" style="width: 85%">
		<p>已分配学员</p>
		    <table class="table_2">

            <tr class="hd">

                <td>用户名</td>
                <td>姓名</td>
                <td>邮箱地址</td>
                <td>组织</td>
                <td>职务</td>
                <td>营运部</td>
                <td>梯队人员</td>
                <td>部门</td>
                <td>是否党员</td>
                <td>操作</td>
            </tr>
            {volist name="list" id="vo"}

            <tr>
                <td>{$vo.usernumber ?? ''}</td>
                <td>{$vo.realname ?? ''}</td>
                <td>{$vo.email ?? ''}</td>
                <td>{$vo.organization ?? ''}</td>
                <td>{$vo.zw ?? ''}</td>
                <td>{$vo.operate ?? ''}</td>
                <td>{$vo.echelon ?? ''}</td>
                <td>{$vo.depart ?? ''}</td>
                <td>{$vo.dangy ?? ''}</td>
                <td>
                    <span class="sc">
                        <a href="{:url('coursegroup/deletecpstudy',array('id'=>$vo.id),false,true)}">删除</a>
                    </span>
                </td>
            </tr>

            {/volist}

        </table>

        {$page ?? ''}

	</div>






</div>
	
	{/block}

{block name="script"}
<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>

<script src="__STATIC__/layer/2.4/layer.js"></script>

<script src="__STATIC__/js/jquery.form.js"></script>

<script src="__STATIC__/js/AjaxAction.js"></script>
<script type="text/javascript">
	$(".header_nav li").click(function(){
		$(this).addClass("header_nav_a").siblings("li").removeClass("header_nav_a");
	})

</script>
<script>
    $(".tcdPageCode").createPage({
        pageCount:6,
        current:1,
        backFn:function(p){
            console.log(p);
        }
    });

</script>
<script type="text/javascript">

	function chooseStudy(){
		layer_open('关联学生',"{:url('coursegroup/chooseStudy',array('cpid'=>$ids),false,true)}");
	}
	
</script>
{/block}