{extend name="template/basecourse" /}
{block name="content"}
<!--container-->
	<div class="container clear" style="width: 100%;">

		<div class="container_content" style="width: 1200px;margin: 0 auto;float: none;">
			<div class="container_content_tit">关联考试</div>
			<div class="container_content_screen clear">
				<a href="javascript:;" onclick="chooseks()">关联考试</a>
				<div class="table">
					<table class="table_2">
						<tr class="hd">
							<td>考试编号</td>
							<td>考试标题</td>
							<td>创建时间</td>
						</tr>
						<tr>
							<td>{$question.id}</td>
							<td>{$question.name}</td>
							<td>{:date('Y-m-d H:i:s',$question.name)}</td>
						</tr>
					</table>
					<!--分页-->
				</div>
			</div>
		</div>
	</div>
{/block}

{block name="script"}
<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>

<script src="__STATIC__/layer/2.4/layer.js"></script>

<script src="__STATIC__/js/jquery.form.js"></script>

<script src="__STATIC__/js/AjaxAction.js"></script>
<script type="text/javascript">
	$(".header_nav li").click(function(){
		$(this).addClass("header_nav_a").siblings("li").removeClass("header_nav_a");
	})
</script>
<script>
    $(".tcdPageCode").createPage({
        pageCount:6,
        current:1,
        backFn:function(p){
            console.log(p);
        }
    });
</script>
<script type="text/javascript">
	$(".fabu").click(function(){
		$(this).addClass("hide");
		$(".chexiao").removeClass("hide");
	})
	$(".chexiao").click(function(){
		$(this).addClass("hide");
		$(".fabu").removeClass("hide");
	})

	function chooseks(){
		layer_open('选择上级部门',"{:url('course/chooseks',array('id'=>$ids),false,true)}");
	}
</script>

{/block}