<ul class="container_list container_list_w18">
    <li>
        <div class="li_tit li_tit_bg">
            <img src="images/icon1.png" alt="" />
            我的培训
        </div>
        <dl>
            <dd><a href="{:url('train/index')}">进行中的课程 </a></dd>
            <dd><a href="{:url('train/index2')}">已完成的课程 </a></dd>
            <dd><a href="{:url('train/index3')}">已过期的课程</a></dd>
            <!--<dd><a href="{:url('train/index4')}">待审批的课程</a></dd>-->
            <dd><a href="{:url('train/sous')}">课程搜索</a></dd>
            <dd><a href="{:url('rl/index')}">日历</a></dd>
        </dl>
    </li>
    <li>
        <div class="li_tit li_tit_bg">
            <img src="images/icon1.png" alt="" />
            资料库
        </div>
        <dl>
            <dd><a href="{:url('database/index')}">资料下载</a></dd>
        </dl>
    </li>
    <li>
        <div class="li_tit li_tit_bg">
            <img src="images/icon1.png" alt="" />
            讨论区
        </div>
        <dl>
            <dd><a href="{:url('discuz/index')}">课程讨论</a></dd>
        </dl>
    </li>


</ul>