{extend name="template/base" /}
{block name="content"}
<div class="container container_w1200 clear">
    {include file='template/left_nav' /}
    <div class="container_content container_content_w80">
        <div class="container_content_tit clear">进行中的课程</div>
        <div class="container_content_screen clear">
            <select class="select_1 ml_105">
                <option value="选择目录">选择目录</option>
                <option value="1">选择目录1</option>
                <option value="2">选择目录2</option>
                <option value="3">选择目录3</option>
            </select>
            <select class="select_1">
                <option value="选择目录">选择类型</option>
                <option value="1">选择类型1</option>
                <option value="2">选择类型2</option>
                <option value="3">选择类型3</option>
            </select>
            <div class="search clear">
                <input type="text" placeholder="用户名／姓名／角色"/>
                <button>搜索</button>
            </div>
        </div>

        <ul class="curriculum">
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box">
                        <div class="li_r_box_l">
                            <span class="state state_d">已完成</span>
                            <span>开始时间：2018-04-18</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box clear">
                        <div class="li_r_box_l">
                            <span class="state state_q">尚未开始</span>
                            <span>开始时间：尚未开始</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box">
                        <div class="li_r_box_l">
                            <span class="state state_d">已完成</span>
                            <span>开始时间：2018-04-18</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box clear">
                        <div class="li_r_box_l">
                            <span class="state state_q">尚未开始</span>
                            <span>开始时间：尚未开始</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box">
                        <div class="li_r_box_l">
                            <span class="state state_d">已完成</span>
                            <span>开始时间：2018-04-18</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box clear">
                        <div class="li_r_box_l">
                            <span class="state state_q">尚未开始</span>
                            <span>开始时间：尚未开始</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box">
                        <div class="li_r_box_l">
                            <span class="state state_d">已完成</span>
                            <span>开始时间：2018-04-18</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="clear">
                <div class="li_l"><img src="images/curr.png"/></div>
                <div class="li_r">
                    <h1 class="line">英语900句第二课之人员介绍</h1>
                    <div class="li_r_box clear">
                        <div class="li_r_box_l">
                            <span class="state state_q">尚未开始</span>
                            <span>开始时间：尚未开始</span>
                        </div>
                        <div class="li_r_box_r">
                            <span class="star">开始</span>
                            <span>考试</span>
                            <span>评估</span>
                            <span class="more">更多</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!--分页-->
        <div class="tcdPageCode"></div>
    </div>
</div>
{/block}