{extend name="template/base" /}
{block name="content"}
<div class="container  clear">
    {include file='template/left_nav' /}
<div class="container_content container_content_w80">
    <div class="container_content_tit clear">进行中的课程</div>
    <div class="container_content_screen clear">
        <form action="{:url('sous')}" method="post">
            <div class="search clear">
                <input type="text" name="course_title" placeholder="课程标题"/>
                <input type="submit">
            </div>
        </form>
    </div>

    <ul class="curriculum">
        {volist name="list" id="vo"}
        <li class="clear">
            <div class="li_l"><img src="__STATIC__/images/curr.png"/></div>
            <div class="li_r">
                <h1 class="line">{$vo.course_title}</h1>
                <div class="li_r_box">
                    <div class="li_r_box_l">
                        <span>开始时间：{:date('Y-m-d H:i:s',$vo.addtime)}</span>  </div>
                </div>
            </div>
        </li>
        {/volist}
    </ul>

    <!--分页-->
    <div class="tcdPageCode">{$page}</div>
</div>
</div>
{/block}