{extend name="template/base" /}

{block name="content"}

<div class="container_content">
    <div class="container_content_tit">新闻管理</div>
    <div class="container_content_screen clear">
        <div class="addcurr"><a style="display: block;width: 100%;" href="{:url('News/add','',false,true)}">添加新闻</a></div>
    </div>
    <div class="table">
        <table class="table_2">
            <tr class="hd">
                <td>标题</td>
                <td>作者</td>
                <td>姓名</td>
                <td>发布时间</td>
                <td>操作</td>
            </tr>

            {volist name="list" id="vo"}

            <tr>
                <td><a href="{:url('index/News/detail',array('id'=>$vo['id']),false,true)}">{$vo.title}</a></td>
                <td>{$vo.username}</td>
                <td>{$vo.realname}	</td>
                <td><?php echo (date('Y-m-d h:i:s', $vo['create_time'])) ?>	</td>
                <td>

                    {if condition="$vo.id != 1"}
                    {:sedit($vo.id,$vo.status)}
                    {else /}
                    {:sedit($vo.id,$vo.status,array('edit'))}
                    {/if}
                    {if $vo['isfrist'] == 1}
                    <span class="qxzd"  id="{$vo.id}"  value="0">取消置顶</span>

                    {else}
                    <span class="qxzd"  id="{$vo.id}" value="1">置顶</span>

                    {/if}
                </td>
            </tr>
            {/volist}

        </table>

    </div>
    <div class="pager">{$page ?? ''}</div>
</div>

{/block}
{block name="script"}
<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>
<script src="__STATIC__/layer/2.4/layer.js"></script>
<script src="__STATIC__/js/jquery.form.js"></script>
<script src="__STATIC__/js/AjaxAction.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>

    $('.qxzd').click(function(e){
        $id =$(this).attr('id');
        $topping = $(this).attr('value');
        $.ajax({
            url:"{:url('News/topping')}",
            dataType:'json',
            type:'post',
            data:{
                'isfrist':$topping,
                'id':$id,
            },
            success:function (data){
                layer.msg('置顶成功');
                window.location.reload();
            },
            error:function (){
            }
        })
    });




</script>
{/block}