{extend name="template/basecourse" /}
{block name="content"}
<div class="container_content">
    <div class="container_content_tit">课程报表</div>
    <div class="container_content_screen clear">
        <div class="container_content_screen_l">
            <div class="search clear">
                <input type="text" placeholder="用户名／姓名／角色"/>
                <button>搜索</button>
            </div>
        </div>

        <div class="daochu">导出EXCEL</div>
    </div>
    <div class="table">
        <table class="table_2">
            <tr class="hd">
                <td>姓名</td>
                <td>用户名</td>
                <td>邮箱</td>
                <td>组织</td>
                <td>培训名称</td>
                <td>培训类型</td>
                <td>目录</td>

            </tr>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.realname}</td>
                <td>{$vo.usernumber}</td>
                <td>{$vo.email}</td>
                <td>{$vo.organization}</td>
                <td>{$vo.course_title}</td>
                <td>{if $vo.course_type == 0}在线课程{else}课堂培训{/if}</td>
                <td>{$vo.catalog}</td>
            </tr>
            {/volist}
        </table>
        <div class="pager">{$page ?? ''}</div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>

<script src="__STATIC__/layer/2.4/layer.js"></script>

<script src="__STATIC__/js/jquery.form.js"></script>

<script src="__STATIC__/js/AjaxAction.js"></script>
<script type="text/javascript">
    $(".header_nav li").click(function () {
        $(this).addClass("header_nav_a").siblings("li").removeClass("header_nav_a");
    })

    $("#form").Validform({

        tiptype: 3,

        showAllError: true,

        callback: function (ret) {
            submit_form($("#form"), function (data) {
                console.log(data);
                if (data.state == 1) {
                    layer.msg(data.succ, {icon: 6, time: 5000});
                    //location.href = "{:url('Course/index','',false,true)}"
                } else {
                    layer.msg(data.err, {icon: 5, time: 5000});
                }
            }, function (err) {
                console.log(err)
            });
            return false;
        }
    });
</script>
<script>
    $(".tcdPageCode").createPage({
        pageCount: 6,
        current: 1,
        backFn: function (p) {
            console.log(p);
        }
    });

</script>
<script type="text/javascript">
    $(".fabu").click(function () {
        $(this).addClass("hide");
        $(".chexiao").removeClass("hide");
    })
    $(".chexiao").click(function () {
        $(this).addClass("hide");
        $(".fabu").removeClass("hide");
    })
</script>
{/block}