{extend name="template/base" /}

{block name="content"}
<div class="container_content">
    <div class="container_content_tit">资料库管理</div>
    <div class="container_content_screen clear">
        <div class="search clear">
            <input type="text" placeholder="用户名／姓名／角色"/>
            <button>搜索</button>
        </div>
        <div class="addcurr"><a href="{:url('Database/add','',false,true)}">添加资料</a></div>

    </div>
    <div class="table">
        <table class="table_2">
            <tr class="hd">
                <td>资料名	</td>
                <td>文件名</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            {foreach $database as $k => $v}
            <tr>
                <td>{$v.title}</td>
                <td>{$v.file_name}	</td>
                <td><?php echo (date('Y-m-d h:i:s', $v['time'])); ?>	</td>
                <td>
                    {:sedit($v.id,$k.status,array('edit','delete'))}
                </td>
            </tr>
            {/foreach}
        </table>
        <!--分页-->
        <div class="tcdPageCode"></div>
    </div>
</div>

{/block}
{block name="script"}
<script src="__STATIC__/Validform/5.3.2/Validform.min.js"></script>
<script src="__STATIC__/layer/2.4/layer.js"></script>
<script src="__STATIC__/js/jquery.form.js"></script>
<script src="__STATIC__/js/AjaxAction.js"></script>
{/block}