
<ul class="bj_list">
    <li class="li_bj">
        <div class="li_tit">
            <img src="../images/g4.png"  alt="" />
            <a href="{:url('Configure/index','',false,true)}">系统信息</a>
        </div>
    </li>
    <li>
        <div class="li_tit">
            <img src="../images/g4.png" alt="" />
            <a href="{:url('Configure/icon','',false,true)}">图标管理</a>
        </div>
    </li>
    <li>
        <div class="li_tit">
            <img src="../images/g4.png" alt="" />
            <a href="{:url('Configure/home','',false,true)}">主页管理</a>
        </div>
    </li>

    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="../images/g4.png" alt="" />-->
            <!--<a href="{:url('Configure/auditing','',false,true)}">审核管理</a>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="../images/g4.png" alt="" />-->
            <!--<a href="shuxing.html">属性管理</a>-->
        <!--</div>-->
    <!--</li>-->
    <li>
        <div class="li_tit">
            <img src="../images/g4.png" alt="" />
            <a href="{:url('Certificate/index','',false,true)}">证书管理</a>
        </div>
    </li>
    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="../images/g4.png" alt="" />-->
            <!--<a href="{:url('Configure/question','',false,true)}">题目顺序</a>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="../images/g4.png" alt="" />-->
            <!--<a href="{:url('Configure/rank','',false,true)}">排行榜管理</a>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="../images/g4.png" alt="" />-->
            <!--<a href="xiaoxi.html">消息发送管理</a>-->
        <!--</div>-->
    <!--</li>-->
</ul>
