<ul class="bj_list">
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('coursegroup/edit',array('id'=>$ids),false,true)}">课程组合属性</a>
        </div>
    </li>
    <li>
        <div class="li_tit">
            <img src="__STATIC__/images/g2.png" alt="" />
            <a href="{:url('coursegroup/coursereport',array('id'=>$ids),false,true)}">课程组合键</a>
        </div>
    </li>
    <!--<li>-->
        <!--<div class="li_tit">-->
            <!--<img src="__STATIC__/images/g2.png" alt="" />-->
            <!--<a href="javascript:;">课程组合发布</a>-->
        <!--</div>-->
    <!--</li>-->
    <li>
        <div class="li_tit">
            <img src="__STATIC__/images/g2.png" alt="" />
            <a href="{:url('coursegroup/distribution',array('id'=>$ids),false,true)}">课程组合分配</a>
        </div>
    </li>
    <li>
        <div class="li_tit">
            <img src="__STATIC__/images/g3.png" alt="" />
            <a href="{:url('coursegroup/delete',array('id'=>$ids),false,true)}">课程组合删除</a>
        </div>
    </li>
</ul>