<ul class="bj_list">

    <li class="li_bj">

        <div class="li_tit">

            <img src="__STATIC__/images/g4.png"  alt="" />

            <a href="{:url('question/edit',array('id'=>$questionid),false,true)}">题库管理</a>

        </div>

    </li>

    <li>

        <div class="li_tit">

            <img src="__STATIC__/images/g2.png" alt="" />

            <a href="{:url('question/ti',array('id'=>$questionid),false,true)}">题目管理</a>

        </div>

    </li>

    <li>

        <div class="li_tit">

            <img src="__STATIC__/images/g2.png" alt="" />

            <a href="{:url('question/fenpei',array('id'=>$questionid),false,true)}">分配考试</a>

        </div>

    </li>

    <li>

        <div class="li_tit">

            <img src="__STATIC__/images/g2.png" alt="" />

            <a href="{:url('question/yulan',array('id'=>$questionid),false,true)}">预览</a>

        </div>

    </li>

    <li>

        <div class="li_tit">

            <img src="__STATIC__/images/g2.png" alt="" />

            <a href="{:url('question/index',array('id'=>$questionid),false,true)}">返回</a>

        </div>

    </li>

</ul>