<ul class="container_list">
			<li>
				<div class="li_tit li_tit_bg">
					<img src="images/icon1.png" alt="" />
					报表
				</div>
				<dl>
					<!--<dd><a class="dd_a" href="{:url('Report/index','',false,true)}">报表设置</a></dd>-->
					<dd><a href="{:url('Report/train','',false,true)}">培训记录</a></dd>
					<dd><a href="{:url('Report/examination_report','',false,true)}">考试记录</a></dd>
					<!--<dd><a href="{:url('Report/answer','',false,true)}">答题报表</a></dd>-->
					<!--<dd><a href="{:url('Report/study_report','',false,true)}">学习路径报表</a></dd>-->
					<!--<dd><a href="{:url('Report/lesson','',false,true)}">培训信息</a></dd>-->
					<!--<dd><a href="{:url('Report/course_report','',false,true)}">课件报表</a></dd>-->
					<dd><a href="{:url('Report/user','',false,true)}">用户报表</a></dd>
					<!--<dd><a href="{:url('Report/assess_report','',false,true)}">评估报表</a></dd>-->
					<dd><a href="{:url('Report/teacher_report','',false,true)}">讲师报表</a></dd>
					<!--<dd><a href="{:url('Report/certificate_report','',false,true)}">证书报表</a></dd>-->


				</dl>
			</li>
			<li>
				<div class="li_tit li_tit_bg">
					<img src="images/icon1.png" alt="" />
					管理
				</div>
				<dl>
					<dd><a href="{:url('course/index','',false,true)}">学习管理</a></dd>
					<dd><a href="{:url('member/index','',false,true)}">用户管理</a></dd>
					<dd><a href="{:url('catalog/index','',false,true)}" {if condition="$_SESSION['think']['role'] lt 2"}style="display:none;"{/if}>系统管理</a></dd>
				</dl>
			</li>
		</ul>