<ul class="bj_list">
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/edit',array('id'=>$id),false,true)}">投票管理</a>
        </div>
    </li>
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/ti',array('id'=>$id),false,true)}">题目管理</a>
        </div>
    </li>
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/yulan',array('id'=>$id),false,true)}">预览</a>
        </div>
    </li>
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/fb',array('id'=>$id),false,true)}">发布</a>
        </div>
    </li>
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/cx',array('id'=>$id),false,true)}">撤销</a>
        </div>
    </li>
    <li class="li_bj">
        <div class="li_tit">
            <img src="__STATIC__/images/g4.png"  alt="" />
            <a href="{:url('vote/index',array('id'=>$id),false,true)}">返回</a>
        </div>
    </li>
</ul>