{extend name="template/base" /}
{block name="content"}
		<div class="container clear">
			<div class="help">
				<div class="help_top">使用帮助</div>
				<div class="help_box">
					<img src="__STATIC__/images/image001.png"/>
					<h1>一、搭建你的ks系统</h1>
					<p>点击“系统管理-配置管理-图标管理管理”，点击“选择图片”从您的电脑中选择合适的logo，点击“开始上传”</p>
				<img src="__STATIC__/images/image003.png"/>
					<h1>第二步、如何更改系统设置</h1>
					<p>在微信端学习课程时，微信上方会显示一个抬头，该抬头则等同此组织名称；</p>

					<img src="__STATIC__/images/image179.png"/>
					<p>在微信端学习课程时，微信上方会显示一个抬头，该抬头则等同此组织名称；</p>

				</div>
			</div>

			
		</div>
{/block}
	
